body {
  font-family: 'Open Sans', sans-serif;
}
/* ШАПКА */
.head {
  position:relative; 
  height: 285px;
  background-image: url(/img/headerimg.jpg);
  background-position: center; 
  background-repeat: no-repeat;
  border-bottom: 2px solid #5d9cec;
}
/* меню */
.top-bar-section ul li>a {
  font-family: 'Open Sans', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif;
}

.contain-to-grid, .top-bar {
  background: none;
  font-size: 12pt;
  color: #eee;
  font-family: 'Open Sans', sans-serif;
}


.top-bar-section ul li, .top-bar-section li:not(.has-form) a:not(.button), .top-bar-section .dropdown li:not(.has-form):not(.active) > a:not(.button) {
  background: none;
  font-weight: 300; 
  font-size: 12pt;
  color: #eee;
}
.top-bar-section li:not(.has-form) a:not(.button):hover, .top-bar-section ul li:hover:not(.has-form) > a {
  background: none;
  font-weight: 300; 
  color: #fff;
}
.top-bar-section .dropdown li:not(.has-form):not(.active) > a:not(.button):hover {
  background: none;
  font-weight: 300; 
  color: #fff;
}

.top-bar-section .right li .dropdown {
  font-weight: 300;
  text-align: right;
}

.top-bar .toggle-topbar a span {
  font-weight: 300; 
  font-size: 12pt;
  color: #eee;
}
.top-bar .name h1 a, .top-bar .name h2 a, .top-bar .name h3 a, .top-bar .name h4 a, .top-bar .name p a, .top-bar .name span a {
  font-family: 'Open Sans', sans-serif;
  font-size: 14pt;
  font-weight: 400; 
  color: #fff;
}
.top-bar.expanded .title-area {
  background: none;
  font-weight: 300; 
  color: #eee;
}
.top-bar-section .dropdown li.title h5 a, .top-bar-section .dropdown li.parent-link a {
  color: #eee;
  font-weight: 200; 
}
.top-bar-section .dropdown li.title h5 a, .top-bar-section .dropdown li.parent-link a:hover {
  color: #fff;
  font-weight: 200; 
}
.top-bar-section li.active:not(.has-form) a:not(.button) {
  background: none;
  color: #fff;
  font-weight: 300; 
}
.top-bar-section li.active:not(.has-form) a:not(.button):hover {
  background: none;
  font-weight: 300; 
  color: #fff;
}

.title-area .beta {
  float: right;
  font-size: 9.0pt;
  margin-top: -10px;
}

/* статистика */
.stati {
  font-family: 'Open Sans', sans-serif;
  position: relative;
  width: 800px;
  height: 240px;
  margin: 0 auto;
  color: #fff;
}
.stati ul {
  position: absolute;
  bottom: 0px;
}
.stati ul li {
  display: inline-block;
  width: 195px;
  text-align: center;
}
.stati ul li .title {
  font-size: 18pt;
  
}
.stati ul li .body {
  font-size: 12pt;
}
/* ДРУГИЕ ПРОЕКТЫ */
.projects {
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 100px;

}

.projects .block {
  float: left;
  display: inline-block;
  width: 33.3%;
  height: 100px;
  background: #fff;
  background-color: rgba(0,0,0,1);
}
.projects .block .img{
  position: relative;
  width: 100%;
  height: 100px;
  background-position: center; 
  background-repeat: no-repeat;
  opacity: .85;
}
.projects .block .img:hover {
  opacity: 1;
}
.projects .block .text {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 14pt;
  color: #fff;
  padding-top: 25px;
}
.projects .block .text .lig {
  font-weight: 300;
}
.projects .block .text .b {
  font-weight: 400;
}

/* MAIN */
.infobox {
  position: fixed;
  top: 200px;
  right: 0;
}

.main .connect {
  background: none;
  border: 1px solid #eee;
  color: #eee;
  margin-top: -10px;
}
.main .connect:hover {
  background: none;
  border: 1px solid #fff;
  color: #fff;
}
.main {
  background-image: url(/img/bg-top.png);
  background-position: top, center; 
  background-repeat: no-repeat;
  width: 100%;
  min-height: 1000px;
  color: #ccc;
}
.main .info {
  color: #cccccc;
  font-weight: 300; 
  text-align: center;
}

.main .itemsI {
  margin-top: 10px;
  font-weight: 300;
  text-align: center;
  font-size: 26px;
  color: #fff;
  background: #142f4b;

  height: 170px;
  width: 175px;

  padding-top: 52px;
}

.main .money {
  margin-top: 10px;
  font-weight: 600;
  text-align: center;
  font-size: 27px;
  color: #e44c4c;
  background: #142f4b;

  height: 170px;
  width: 175px;

  padding-top: 48px;
}

.main .round {
  margin-top: 10px;
  font-weight: 300;
  text-align: center;
  font-size: 26px;
  color: #fff;
  background: #142f4b;

  height: 170px;
  width: 140px;

  padding-top: 72px;
}

.main .gmd_paramVl {
  color: #fff;
  font-weight: 200;
  font-size: 22px;
}

.main .op {
  margin-top: 10px;
  text-align: center;
}

.main .vz {
  margin-left: 10px;
  margin-top: 10px;
  width: 450px;
  height: 170px;
  font-weight: 300;
  font-size: 15px;
  color: #fff;
  background: #142f4b;

  padding: 10px;
}

.main .vz h5 {
  font-weight: 400;
  text-align: center;
  font-size: 18px;
  color: #fff;
}

.main .history {
  background: #313741;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #eee;
  font-size: 11pt;
  font-weight: 300;
}
.main .history .nickname {
  font-size: 14pt;
}
.main .history .com {
  color: #fff;
}

.top {
  background: #313741;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #eee;
  font-size: 11pt;
  font-weight: 300;
}
.top h5 {
  color: #eee;
}
.top table, table thead, table tbody, table tr.even, table tr.alt, table tr:nth-of-type(even) {
  border: none;
  background: none;
}
.top table thead th {
  color: #eee;
}
.top table tbody td {
  color: #ccc;
}
.about {
  background: #313741;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #eee;
  font-size: 11pt;
  font-weight: 300;
}
.about p {
  font-size: 11pt;
}
.about h5, h4 {
  color: #eee;
}

/* форма */
.form input {
  color: #eee;
  background: #23282f;
  border: 1px solid #23282f;
}
.form input:focus {
  background: #23282f;
  border: 1px solid #23282f;
}
.form .button {
  background: #5d9cec;
  display: block;
  position: relative;
  font-size: 0.875rem;
  height: 2.3125rem;
  line-height: 0rem;
  z-index: 2;
  width: 100%;
}
.form .button:hover {
  background: #548dd5;
}
.form .button:active {
  background: #487aba;
}
/* PROGRESS BAR */
.line {
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 5px;
  background: #888888;
}
.line .line-blue {
  margin: 0px;
  padding: 0px;
  float: left;
  height: 5px;
  background: #3498db;
}
/* ЛОГ */
.log {
  width: 100%;
  background: #313741;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #eee;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 15px;
  text-align: center;
}
.log .msg {
  padding-top: 15px;
  padding-bottom: 15px;
}

.log .msg .name {
  color: #e5a538;
}
/* ФУТЕР */
.footer {
  margin-top: 30px;
}
.footer h2 {
  font-weight: 300;
  font-size: 11pt;
  color: #e5a538;
}
.footer .menu {
  font-weight: 300;
  font-size: 11pt;
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
  color: #8c8a91;
}
.footer .menu a {
  color: #8c8a91;
}
.footer .copyright {
  text-align: center;
  color: #8c8a91;
  font-size: 10pt;
}
/* информация */
.infobox {
  position: fixed;
  top: 100px;
  right: 0;
  z-index: 1241251;
}

/* VK ICON */
.vk_icon {
  position: fixed;
  right: 5px;
  bottom: 510px;
  z-index: 1241252;
}
/* ЧАТ */
.chat {
  position: fixed;
  right: 15px;
  bottom: 0px;
  background: #ffffff;
  width: 300px;
}
.chat header {
  background: #142f4b;
  padding: 10px 15px;
  color: #ffffff;
  font-size: 14px;
  cursor: move;
}
.chat header:before,
.chat header:after {
  display: block;
  content: '';
  clear: both;
}
.chat header h2,
.chat .body ul li .content h3 {
  margin: 0;
  padding: 0;
  font-size: 14px;
  float: left;
}
.chat header h2 a {
  color: #ffffff;
  text-decoration: none;
}
.chat header .tools {
  list-style: none;
  margin: 0;
  padding: 0;
  float: right;
}
.chat header .tools li {
  display: inline-block;
  margin-right: 6px;
}
.chat header .tools li:last-child {
  margin: 0;
}
.chat header .tools li a {
  color: #ffffff;
  text-decoration: none;
  -webkit-transition: all 0.3s linear 0s;
  -moz-transition: all 0.3s linear 0s;
  -ms-transition: all 0.3s linear 0s;
  -o-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
}
.chat .body {
  position: relative;
  height: 280px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.chat .body .search {
  display: none;
  width: 100%;
}
.chat .body .search.opened {
  display: block;
}
.chat .body .search input {
  width: 100%;
  margin: 0;
  padding: 10px 15px;
  border: none;
  -webkti-box-size: border-box;
  -moz-box-size: border-box;
  box-size: border-box;
}
.chat .body ul {
  list-style: none;
  padding: 0;
  margin: 0;
  border-top: 1px solid #f2f2f2;
}
.chat .body ul li {
  position: relative;
  background: #ffffff;
  display: block;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}
.chat .body ul li:before,
.chat .body ul li:after {
  display: block;
  content: '';
  clear: both;
}
.chat .body ul li:hover .thumbnail {
  background: #bd6982;
}
.chat .body ul li:nth-child(2n) {
  background: #f2f2f2;
}
.chat .body ul li .thumbnail {
  display: inline-block;
  background: #bfbfbf;
  width: 50px;
  color: #ffffff;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  -webkit-transition: background 0.3s linear 0s;
  -moz-transition: background 0.3s linear 0s;
  -ms-transition: background 0.3s linear 0s;
  -o-transition: background 0.3s linear 0s;
  transition: background 0.3s linear 0s;
}
.chat .body ul li .thumbnail img {
  width: 100%;
}
.chat .body ul li .content {
  display: inline-block;
  margin-left: 6px;
  vertical-align: top;
  line-height: 1;
}
.chat .body ul li .content h3 {
  display: block;
  width: 100%;
  margin-bottom: 5px;
  color: #808080;
}
.chat .body ul li .content .preview {
  display: block;
  width: 100%;
  max-width: 200px;
  margin-bottom: 5px;
  color: #6b6b6b;
  font-size: 12px;
}

.chat .body ul li .content .meta {
  color: #b3b3b3;
  font-size: 12px;
}
.chat .body ul li .content .meta a {
  color: #999999;
  text-decoration: none;
}
.chat .body ul li .content .meta a:hover {
  text-decoration: underline;
}
.chat .body ul li .message {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  height: 100%;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}
.chat footer a {
  background: #bd6982;
  display: block;
  width: 100%;
  padding: 10px 15px;
  color: #ffffff;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  box-sizing: border-box;
}
.chat footer a:hover {
  background: #cd8ca0;
  -webkit-transition: background 0.3s linear 0s;
  -moz-transition: background 0.3s linear 0s;
  -ms-transition: background 0.3s linear 0s;
  -o-transition: background 0.3s linear 0s;
  transition: background 0.3s linear 0s;
}

.chat .btnchat:hover {
  background: #142f4b;
}

.chat .btnchat {
  background: #214162;
}

.settings.ref {
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 10pt;
}

/* РЕФЕРАЛЫ */
.referal label {
  color: #777;
}

/* Главное окно */
.gmd_block {
  /* background: #253a49; */
  margin-top: 2px;
  height: 140px;

  left: 20%;
  width: 600px;

  clear: both;
  padding: 5px;
}